body {
color-scheme: rgb(104, 16, 104);
font-family: 'Times New Roman', Times, serif;
}
h1 {
text-align: center;
font: 'Times New Roman';
color:rgb(104, 16, 104)
}
h2 {
color: rgb(10, 8, 151);
text-align: center;
}
table {
border: 4px solid black;
width: 550px;
margin: 0 auto;
}
thead {
background-color: coral;
}
td {
border-top: 3px solid black;
}